<?xml version="1.0"?>
<launch>
  <!-- 参数定义 -->
  <arg name="model" default="$(find marm_description)/urdf/marm_simple.xacro"/>
  <arg name="gui" default="true" />
  
  <!-- 从xacro文件加载机器人描述 -->
  <param name="robot_description" command="$(find xacro)/xacro '$(arg model)'" />
  
  <!-- 启动joint_state_publisher节点 -->
  <node if="$(arg gui)" name="joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
  <node unless="$(arg gui)" name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  
  <!-- 启动robot_state_publisher节点 -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  
  <!-- 启动rviz（不指定配置文件，启动空白界面） -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find dobot_description)/rviz/urdf.rviz" /> 
</launch>
